.logo {
  max-width: 80px;
}
.bg-nav {
  background-color: #000000;
}

.footer-content {
  min-height: 80px;
  background-color: #000000;
}

main {
  min-height: 1200px;
}
.card {
  max-width: 540px;
  .card-body {
    opacity: 0;
  }
  .enter {
    opacity: 1;
    transition: all 0.8s;
  }
}
